# Entorno virtual
venv/

# Archivos de entorno con secretos
.env

# Archivo de credenciales de Google (si se usa localmente)
credentials.json

# Caché de Python
__pycache__/
*.pyc

# Archivos de sistema operativo
.DS_Store