{% if total_pages > 1 %}
<nav aria-label="Navegación de páginas" class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('registros', page=current_page - 1, search=search_term) }}">Anterior</a>
        </li>
        {% for page_num in range(1, total_pages + 1) %}
            {% if page_num == current_page %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_num }}</span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('registros', page=page_num, search=search_term) }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('registros', page=current_page + 1, search=search_term) }}">Siguiente</a>
        </li>
    </ul>
</nav>
{% endif %}